name: Python
on: [push, pull_request]

jobs:
  build-python-sdist:
    name: Build Python Source Distribution
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: 3.9
      - name: Install Python build tool
        run: |
          python -m pip install build
      - name: Build sdist
        run: python -m build --sdist --outdir dist/
      - name: Display structure of dist files
        run: ls -R
        working-directory: dist
      - name: SHA256 files
        run: |
          find . -type f -exec sha256sum {} \;
        working-directory: dist
      - uses: actions/upload-artifact@v2
        with:
          name: python-dist
          path: dist/*.tar.gz
  verify-python-sdist:
    name: Verify Python sdist (${{ matrix.os }} ${{ matrix.python-version }})
    needs: [build-python-sdist]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
        python-version: [3.9]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download python-dist artifact
        uses: actions/download-artifact@v2
        with:
          name: python-dist
          path: dist/
      - name: SHA256 files
        shell: bash
        run: find . -type f -exec sha256sum {} \;
        working-directory: dist
      - uses: actions/setup-python@v2
        name: Install Python ${{ matrix.python-version }}
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install sdist
        shell: bash
        run: python -m pip install dist/*.tar.gz
  build-python-wheel:
    name: Build Python wheel ${{ matrix.python-version }}-${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-20.04, arch: manylinux_x86_64,  python-version: cp36 }
          - { os: ubuntu-20.04, arch: manylinux_x86_64,  python-version: cp37 }
          - { os: ubuntu-20.04, arch: manylinux_x86_64,  python-version: cp38 }
          - { os: ubuntu-20.04, arch: manylinux_x86_64,  python-version: cp39 }
          - { os: ubuntu-20.04, arch: manylinux_i686,    python-version: cp36 }
          - { os: ubuntu-20.04, arch: manylinux_i686,    python-version: cp37 }
          - { os: ubuntu-20.04, arch: manylinux_i686,    python-version: cp38 }
          - { os: ubuntu-20.04, arch: manylinux_i686,    python-version: cp39 }
          - { os: ubuntu-20.04, arch: manylinux_aarch64, python-version: cp36 }
          - { os: ubuntu-20.04, arch: manylinux_aarch64, python-version: cp37 }
          - { os: ubuntu-20.04, arch: manylinux_aarch64, python-version: cp38 }
          - { os: ubuntu-20.04, arch: manylinux_aarch64, python-version: cp39 }
          - { os: ubuntu-20.04, arch: manylinux_ppc64le, python-version: cp36 }
          - { os: ubuntu-20.04, arch: manylinux_ppc64le, python-version: cp37 }
          - { os: ubuntu-20.04, arch: manylinux_ppc64le, python-version: cp38 }
          - { os: ubuntu-20.04, arch: manylinux_ppc64le, python-version: cp39 }
          - { os: ubuntu-20.04, arch: manylinux_s390x,   python-version: cp36 }
          - { os: ubuntu-20.04, arch: manylinux_s390x,   python-version: cp37 }
          - { os: ubuntu-20.04, arch: manylinux_s390x,   python-version: cp38 }
          - { os: ubuntu-20.04, arch: manylinux_s390x,   python-version: cp39 }
          - { os: windows-2019, arch: win_amd64,         python-version: cp36 }
          - { os: windows-2019, arch: win_amd64,         python-version: cp37 }
          - { os: windows-2019, arch: win_amd64,         python-version: cp38 }
          - { os: windows-2019, arch: win_amd64,         python-version: cp39 }
          - { os: windows-2019, arch: win32,             python-version: cp36 }
          - { os: windows-2019, arch: win32,             python-version: cp37 }
          - { os: windows-2019, arch: win32,             python-version: cp38 }
          - { os: windows-2019, arch: win32,             python-version: cp39 }
          - { os: macos-10.15,  arch: macosx_x86_64,     python-version: cp36 }
          - { os: macos-10.15,  arch: macosx_x86_64,     python-version: cp37 }
          - { os: macos-10.15,  arch: macosx_x86_64,     python-version: cp38 }
          - { os: macos-10.15,  arch: macosx_x86_64,     python-version: cp39 }
          - { os: macos-10.15,  arch: macosx_arm64,      python-version: cp39 }
          - { os: macos-10.15,  arch: macosx_universal2, python-version: cp39 }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        if: runner.os == 'Linux' && matrix.arch != 'manylinux_x86_64'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Build wheels
        uses: pypa/cibuildwheel@v1.11.1
        env:
          CIBW_BUILD: ${{ matrix.python-version }}-${{ matrix.arch }}
          CIBW_ARCHS: 'all'
      - name: Display structure of wheelhouse files
        run: ls -R
        working-directory: wheelhouse
      - name: SHA256 files
        shell: bash
        run: find . -type f -name "*.whl" -exec sha256sum {} \;
        working-directory: wheelhouse
      - uses: actions/upload-artifact@v2
        with:
          name: python-dist
          path: ./wheelhouse/*.whl
  publish-python:
    name: Publish Python distributions to PyPI
    needs: [build-python-sdist, build-python-wheel]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    env:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Download python-dist artifact
      uses: actions/download-artifact@v2
      with:
        name: python-dist
        path: dist/
    - name: Display structure of dist files
      run: ls -R
      working-directory: dist
    - name: Publish distribution to PyPI
      if: env.PYPI_API_TOKEN != null
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
  publish-release-artifacts:
    name: Publish Release Artifacts to GitHub
    needs: [build-python-sdist, build-python-wheel]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
    - uses: actions/checkout@v2
    - name: Download Python artifacts
      uses: actions/download-artifact@v2
      with:
        name: python-dist
        path: python-dist/
    - name: Display structure of python-dist files
      run: ls -R
      working-directory: python-dist
    - name: Archive python-dist
      run:  |
        tar -czvf python-dist-all.tar.gz -C python-dist .
        cd python-dist; for f in *.tar.gz; do cp "$f" "../python-sdist-$f"; done; cd ../
    - name: SHA256 files
      run: |
        find . -type f -name "*.tar.gz" -exec sha256sum {} \;
    - name: Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          *.tar.gz

